
/* .main_container {
    @apply w-full h-screen pt-11 pb-24 px-6 bg-gradient-to-r from-customBlue to-customBlack;
} */
.row {
    @apply w-full px-24;
}
.title {
    @apply text-5xl font-bold text-white;
}
.table_head, .table_data {
    @apply font-sans text-sm text-white border-b border-white border-opacity-40 py-4 pr-8 align-middle;
}
.tech_column {
    @apply hidden;
}


@media (min-width: 768px) {
    .tech_column{
        @apply inline-block;
    }
    .project_tech_list {
        @apply mr-4 p-4 my-1 text-xs text-customYellow text-opacity-80 bg-customGreen bg-opacity-10 rounded-full;
    }
}
