.main_container {
    @apply w-full min-h-screen pt-6 pb-16 px-4 bg-gradient-to-r from-customBlue to-customBlack flex flex-col justify-start items-center overflow-auto;
}

.row {
    @apply w-full px-6; /* Adjusted for consistency */
}

.title {
    @apply text-5xl font-bold text-white;
}

.table_head, .table_data {
    @apply font-sans text-sm text-white border-b border-white border-opacity-40 py-4 pr-8 align-middle;
}

.tech_column {
    @apply hidden;
}

@media (min-width: 768px) {
    .tech_column {
        @apply inline-block align-middle; /* Ensure alignment is correct */
    }
    .project_tech_list {
        @apply mr-4 p-4 my-1 text-xs text-customYellow text-opacity-80 bg-customGreen bg-opacity-10 rounded-full;
    }
}

.table_auto {
    @apply table-auto;
}

.project_tech_container {
    @apply list-none m-0 p-0;
}

.project_tech_list {
    @apply inline-block mr-2 mb-2 text-xs;
}
