
.glowing-element {
    transition: all 0.3s ease;
}

.glowing-element:hover {
    text-shadow: 0 0 10px #2dd4bf, 0 0 20px #2dd4bf;
    color: #2dd4bf;
}


.glow\:border-glow {
    border-color: var(--glow-color) !important;
    box-shadow: 0 0 10px var(--glow-color) !important;
}


.glowing-border {
    border: 2px solid #2dd4bf;
    box-shadow: 0 0 10px rgba(45, 212, 191, 0.8);
    transition: all 0.3s ease;
}

.glowing-border:hover {
    box-shadow: 0 0 20px rgba(45, 212, 191, 1);
}


.project_container {
    border: none;
    box-shadow: none;
    transition: all 0.3s ease;
  }


  .project_container:hover {
    border: 2px solid #2dd4bf;
    box-shadow: 0 0 10px rgba(45, 212, 191, 0.8), 0 0 20px rgba(45, 212, 191, 1);
    transition: box-shadow 0.3s ease, border 0.3s ease;
  }