/* glowEffect.css */

/* Reusable Glow Effect */
.glow-effect {
  @apply ring-1 ring-[#2dd4bf] border-glow ring-glow bg-glow/[.15];
  transition: all 0.3s ease; /* Smooth transition for the glow effect */
}

/* Hover Glow Effect */
.glow-effect:hover {
  @apply bg-[#1f1d1d] bg-opacity-60 ring-2 ring-[#2dd4bf] border-2;
  box-shadow: 0 0 10px rgba(45, 212, 191, 0.5); /* Optional: add a glowing shadow */
}

/* If you want a background glow with a subtle animation effect */
.bg-glow {
  @apply bg-[#2dd4bf]/10; /* Light cyan glow background */
}

.ring-glow {
  @apply ring-4 ring-[#2dd4bf] ring-opacity-50; /* Define a glowing ring effect */
}

.border-glow {
  border: 1px solid #2dd4bf; /* Define a glowing border */
}
