.title_container {
    @apply flex flex-col items-center text-center px-4 py-10 bg-gradient-to-br from-blue-700 to-gray-900 
         rounded-2xl shadow-lg;
}
.title_name {
    @apply font-sans text-4xl font-bold tracking-tighter text-white;
}
.title_description {
    @apply font-sans text-xl text-customYellow my-2;
}
.title_paragraph {
    @apply font-sans text-base text-white text-opacity-80;
}

@media (min-width: 768px) {
    .title_container {
        @apply py-16;
    }
    .title_name {
        @apply text-5xl;
    }
    .title_description {
        @apply my-4 pt-2 pb-3;
    }
    .title_paragraph {
        @apply w-1/2;
    }
}